header{
    position:fixed;
    margin: 1% 1% 1% 2%;
    
    
}

img{
    border-radius: 100%;
    /*max-width: 200px;*/
    border: 1px solid black;
    margin: 2% 2% 2% 2%;
}
h1{
    /*color: brown;*/
    color:midnightblue;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 2% 2% 2% 4%;
    font-size: large;
}

body{
    font-size: large;
    background-color: rgb(220,220,220);

}
h2{
    margin: 2% 2% 2% 30%;
}

.limenu{
    list-style: none;
    color:orange;
    padding: 1%;
    font-style: normal;  
    font-size: small;

}
nav{
    background-color: rgb(49, 106, 106);
    padding: 1%;
    
}
/*
.nomeh1{
    text-align: center;
    text-decoration:none;
    
}
*/
a{
    text-decoration: none;
}

#bordas1{
    margin: 1%;
    background-color: rgb(93, 120, 148);
    padding: 0.3%;
    color: rgb(11, 11, 11);
    margin: 2% 2% 2% 2%;
    
}

.bordascss{
    /*border-color: rgb(41, 44, 44);*/
    padding: 0.3%;
    margin: 2% 2% 2% 25%;
    list-style:none;
}

.links{
    margin: 1% 1% 1% 10%;
}
.style-icons a{
    padding: 20px;
}
    